@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

*, ::after, ::before {
    box-sizing: border-box;
}

html, body {
    height: auto;
    min-height: 100%;
    font-size: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #666666;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    flex-direction: column;
    line-height: 1.5rem;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    background-color: lightcyan;
}

.borderHeader{
    border: 1px solid white;
}

.myForm{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inputField{
    margin-bottom: 1rem;
}

.input-field-flex31{
    flex: 0 0 31%;
    max-width: 303px;
}

.input-field-flex50{
    flex: 0 0 50%;
    max-width: 315px;
    width: 100%;
}

.input-field-flex100{
    width: 100%;
}

.default-input{
    border: 0.063rem solid rgb(170, 170, 170);
    height: 40px;
    padding: 0 1.25rem;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 400;
    width: 100%
}

.extra-input{
    display: none;
}

.default-input::placeholder{
    color: rgb(200, 15, 15);
    font-size: 1rem;
}

.default-select{
    padding: 0 1.25rem;
    height: 40px;
    width: 100%;
}

h2{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
}

.message{
    color: red;
    margin: 0.1rem 0;
    display: none
}

.default-textArea{
    height: auto;
    padding: 0.5rem 1.25rem;
}

.btn-block{
    margin-bottom: 5%;
}

.star{
    color: red;
}

.extra-parametre{
    display: none;
    width: 100%;
    margin-top: 1rem;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    text-align: left;
}

@media(max-width: 760px)
{
    .input-field-flex50, .input-field-flex31, .input-field-flex100 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}