/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.mainBody{
    font-family: "Montserrat", sans-serif;
    margin: 2% 10% 7%;
    height: 100%;
}

.headingSchedule{
    text-align: center;
}

.den{
    padding-left: unset;
    text-align: left;
    background-color: #e7ebed;
}

.prednaska{
    background-color: lightgreen;
}

.cviko{
    background-color: lightcyan;
}

.rozvrh-pred{
    background-color: lightgreen;
    align-content: center;
}

.rozvrh-cvic{
    background-color: lightcyan;
    align-content: center;
}

.rozvrh-telesna{
    background-color: darkorchid;
    align-content: center;
}

#special{
    background-color: darkorchid;
}

table{
    display: table;
    border-spacing: 2px;
    border-color: darkgrey;
    font-size: 14px;
    table-layout: fixed;
    width: 95%;
}

table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td{
    padding: 5px;
    word-wrap: break-word;
    text-align: center;
}

th{
    background-color: #e7ebed;
    text-align: left;
    width: 12%;
    height: 12%;
}



